body {
  margin: 0;
  background-color: rgb(247, 247, 247);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navber*/
.navber_containner {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #f1f0f0;
  padding: 14px;
}
.navber_containner_title {
  margin-left: 20px;
}
.img img {
  height: 80px;
  width: 100px;
}
.navber_containner_title ul {
  list-style-type: none;
}
.navber_containner_title ul li a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(130, 152, 226);
  cursor: pointer;
}
.navber_containner_title ul li a:hover {
  text-decoration: underline;
}
.navber_containner_hero ul {
  display: flex;
  list-style-type: none;
}
.navber_containner_hero ul li a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #111;
  margin-right: 40px;
}
.navber_containner_hero ul li a:hover {
  color: rgb(130, 152, 226);
  text-decoration: underline;
}
.dashboard_nav_pop {
  display: none;
  position: absolute;
  margin-left: 1040px;
  height: 250px;
  width: 200px;
  margin-top: 40px;
  background-color: #eeecec;
  border-radius: 10px;
}
.dashboard_nav_pop button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 2px;
}

.dashboard_nav_pop button a {
  text-decoration: none;
  color: #111;
}

.dashboard_nav_pop button:hover {
  background-color: rgb(130, 152, 226);
  border-radius: 2px;
}
.dashboard_nav_pop p {
  margin-left: 170px;
  color: rgb(130, 152, 226);
  font-size: 14px;
  cursor: pointer;
}
.dashboard_profile {
  background-color: rgb(130, 152, 226);
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.dashboard_profile i {
  padding: 7px;
}
.dashboard_nav_profile {
  border-top: 1px solid rgb(130, 152, 226);
}
/* hero section*/
.hero_containner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero_containner_des {
  padding: 30px;
  width: 600px;
}
.hero_containner_des ul {
  margin-left: 30px;
}
.hero_containner_des span {
  color: rgb(130, 152, 226);
  font-size: 40px;
}
.hero_containner_des h1 {
  font-size: 30px;
  padding: 10px;
}
.hero_containner_des p {
  font-size: 14px;
  margin-left: 10px;
}
.hero_containner_input {
  width: 400px;
  padding: 40px;
  margin-right: 80px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.hero_containner_input h1 {
  text-align: center;
}
.hero_containner_input form input {
  width: 380px;
  height: 40px;
  border: 1px solid #f1f0f0;
}
.hero_containner_input form input:focus {
  outline: none;
}

.hero_containner_input form select {
  width: 388px;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #f1f0f0;
}
.hero_containner_input h5 {
  color: red;
  text-align: center;
}
.hero_containner_input h6 {
  color: rgb(29, 138, 29);
  text-align: center;
}

.btn input {
  background-color: rgb(130, 152, 226);
  border-radius: 50px;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
}

.btn span {
  margin-top: 15px;
  margin-left: 250px;
}
.btn h1 {
  margin-right: 45px;
  font-size: 12px;
}
.btn a {
  margin-top: 15px;
  margin-left: 170px;
}
/*login page*/
.login_containner {
  margin-left: 430px;
  height: 600px;
}
.btn_link {
  text-align: center;
  margin-right: 30px;
}
.btn_link button {
  border: none;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  color: rgb(130, 152, 226);
  cursor: pointer;
}

/*ListUser*/
.List_User_Contanner {
  display: flex;
  text-align: center;
  margin-left: 150px;
}
.List_User_des {
  padding: 100px;
}
.List_User_des i {
  font-size: 30px;
  color: rgb(130, 152, 226);
}
.List_User_des h1 {
  font-size: 30px;
  color: rgb(130, 152, 226);
}
.List_User_des span {
  font-size: 14px;
  color: #111;
}
/*DemoUser*/
.Demo_User_Containner {
  display: flex;
  height: 300px;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  margin-top: 40px;
}
.Demo_User_des {
  width: 200px;
  height: 150px;
  background-color: #fff;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  margin-left: 140px;
  border-radius: 10px;
}
.Demo_User_des i {
  font-size: 30px;
  color: rgb(130, 152, 226);
}
/*dashboard*/
.dashboard_containner {
  display: flex;
}
.dashboard_containner_popup {
  padding: 20px;
  width: 300px;
  height: auto;
  border-right: 2px solid #eeecec;
}
.dashboard_containner_popup_des_Active {
  background-color: rgb(130, 152, 226);
  border-radius: 10px;
  margin-top: 10px;
  padding: 2px;

  cursor: pointer;
}
.dashboard_containner_popup_des_Active ul {
  list-style-type: none;
}
.dashboard_containner_popup_des_Active ul li i {
  padding: 10px;
}
.dashboard_containner_popup_des_Active ul li a {
  text-decoration: none;
}
.dashboard_containner_popup_des {
  padding: 2px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.dashboard_containner_popup_des ul {
  list-style-type: none;
}
.dashboard_containner_popup_des ul li a {
  text-decoration: none;
}
.dashboard_containner_popup_des:hover {
  background-color: rgb(130, 152, 226);
}
.dashboard_containner_popup_des ul li i {
  padding: 10px;
}
.dashboard_containner {
  display: flex;
  background-color: rgb(247, 247, 247);
}
.dashboard_containner_des {
  width: 200px;
  height: 150px;
  background-color: #fff;
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
  padding: 10px;
}
.dashboard_containner_des span {
  font-size: 15px;
  color: rgb(130, 152, 226);
}
.dashboard_containner_des span a {
  text-decoration: none;
}
.dashboard_containner_des button {
  font-size: 14px;
  width: 150px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(130, 152, 226);
}
.dashboard_containner_des_msg {
  position: absolute;
  margin-top: 250px;
  height: 50px;
  padding: 30px;
  border-radius: 10px;
  margin-left: 100px;
  width: 600px;
  background-color: #fff;
}
.dashboard_containner_des_msg span {
  margin-top: 20px;
}
/*dashboard/earn-money*/

.Earn_money h1 {
  font-size: 14px;
  margin-left: 10px;
  padding: 6px;
  color: rgb(130, 152, 226);
}
.Earn_money_containner {
  display: flex;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  width: 850px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
.Earn_money_containner button {
  width: 80px;
  height: 40px;
  padding: 10px;
  margin-left: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(130, 152, 226);
  color: #fff;
  cursor: pointer;
}
.Earn_money_containner_des {
  display: flex;
  width: 600px;
}
.Earn_money_containner a {
  text-decoration: none;
}
.Earn_money_containner span {
  color: rgb(130, 152, 226);
  padding: 10px;
}
.Earn_money_containner i {
  color: rgb(130, 152, 226);
  margin-left: 30px;
  margin-top: 19px;
  font-size: 12px;
}
.Earn_money_containner p {
  color: #111;
  font-size: 11px;
  margin-top: 16px;
  margin-left: 7px;
}
.Earn_money_containner h4 {
  font-size: 12px;
  color: rgb(201, 201, 201);
  margin-bottom: 20px;
  margin-left: 50px;
}
/*Collect_pop_up*/

.Collect_pop_up {
  display: none;
  position: fixed;
  width: 200px;
  height: 150px;
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(240, 237, 237);
  margin-left: 650px;
}
.Collect_pop_up h1 {
  font-size: 20px;
  text-align: center;
}
.Collect_pop_up span {
  font-size: 14px;
  margin-left: 60px;
}

.Collect_pop_up button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: rgb(130, 152, 226);
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
}

/* offers page*/

/* advertiser*/
.Advertiser_containner {
  padding: 30px;
  width: 700px;
}
.Advertiser_containner button {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(130, 152, 226);
  cursor: pointer;
}
/*Ads*/
.Advertiser_containner_des {
  padding: 10px;
}
.Advertiser_containner_des p {
  font-size: 14px;
}
.Advertiser_containner_des_url input {
  border: none;
  padding: 30px;
  width: 700px;
  background-color: rgb(247, 247, 247);
  border-bottom: 2px solid rgb(130, 152, 226);
}
.Ads_duration {
  padding: 25px;
  width: 710px;
  border-bottom: 2px solid rgb(130, 152, 226);
}
.Ads_duration select {
  border: none;
  color: rgb(139, 139, 139);
  background-color: rgb(247, 247, 247);
}
.Ads_duration select option {
  color: #111;
}
.Ads_country {
  padding: 25px;
  width: 710px;
  border-bottom: 2px solid rgb(130, 152, 226);
}
.Ads_country span {
  font-size: 12px;
  color: rgb(139, 139, 139);
}
.country_cty {
  margin-top: 10px;
  width: 710px;
  height: 200px;
  border: 1px solid gray;
}
.country_cty_des {
  padding: 30px;
}
.country_cty_des input {
  width: 40px;
  height: 10px;
}
.Advertise_btn input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: rgb(130, 152, 226);
  color: #fff;
  cursor: pointer;
}
/*Adspartners*/
.Adspartners {
  background-color: rgb(247, 247, 247);
  margin-top: 100px;
  padding: 10px;
}
.Adspartners_containner {
  display: flex;
  width: 500px;
  margin-left: 400px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
.Adspartners h1 {
  font-size: 30px;
  text-align: center;
}
.Adspartners_containner_des {
  width: 150px;
  height: 100px;
  margin-top: 20px;

  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.Adspartners_containner_des i {
  padding: 30px;
  font-size: 30px;
  cursor: pointer;
}
.Adspartners_containner_des i:hover {
  color: rgb(39, 138, 39);
}
/*Profile_handelar*/
.Profile_handelar {
  display: flex;
}
.Profile_handelar_des {
  margin-left: 230px;
}
.hero_containner_input h3 {
  font-size: 14px;
}
.hero_containner_input span {
  font-size: 12px;
  margin-left: 130px;
}

/*admin*/

.admin_dashboard {
  display: flex;
}
.all_products h1 {
  font-size: 14px;
  margin-left: 20px;
}
.all_products {
  display: none;
}
/*Create_products*/
.Create_products h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Create_products {
  display: none;
}
/*Update_products*/
.Update_products h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Update_products {
  display: none;
}
/*Delete_products*/
.Delete_products h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Delete_products {
  display: none;
}
h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Update_products {
  display: none;
}
/*User_Products*/
.All_Users h1 {
  font-size: 14px;
  margin-left: 20px;
}
.All_Users {
  display: none;
}
/*SingleUsers */
.SingleUsers h1 {
  font-size: 14px;
  margin-left: 20px;
}
.SingleUsers {
  display: none;
}
/*Update_Users*/
.Update_Users h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Update_Users {
  display: none;
}
/*payouts*/
.payouts {
  display: none;
}
.payouts h1 {
  font-size: 14px;
  margin-left: 20px;
}

/*message*/
.message {
  display: none;
}
.message h1 {
  font-size: 14px;
  margin-left: 20px;
}
/*GETmessage*/
.get_message {
  display: none;
}
.get_message h1 {
  font-size: 14px;
  margin-left: 20px;
}
/*deletemessage*/
.delete_message {
  display: none;
}
.delete_message h1 {
  font-size: 14px;
  margin-left: 20px;
}

/*Delete_Users*/
.Delete_Users h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Delete_Users {
  display: none;
}
/*Ban_Users*/
.Ban_Users h1 {
  font-size: 14px;
  margin-left: 20px;
}
.Ban_Users {
  display: none;
}
/*UnBan_Users*/
.UnBan_Users h1 {
  font-size: 14px;
  margin-left: 20px;
}
.UnBan_Users {
  display: none;
}
/*AllProducts_containner*/
.AllProducts_containner {
  width: 890px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 20px;
  color: rgb(130, 152, 226);
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
}
/*Create_product*/
.Create_product {
  margin-left: 250px;
}
.Create_product h1 {
  margin-left: 170px;
  font-size: 20px;
}
/*Update_containner*/
.Update_containner {
  display: flex;
  width: 890px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.Update_containner span {
  padding: 40px;
}
.Update_btn {
  margin-left: 300px;
  padding: 40px;
}
.Update_btn button {
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 4px;
  background-color: rgb(130, 152, 226);
  cursor: pointer;
}
/*Update_Products_Display*/
.Update_Products_Display {
  margin-left: 450px;
}
.Update_Products_Display h1 {
  margin-left: 190px;
}
/*delete_products*/
.delete_products_containner {
  padding: 20px;
  height: 400px;
  background-color: rgb(247, 247, 247);
}
.delete_products {
  display: flex;
  width: 700px;
  margin-left: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
}
.delete_products h1 {
  padding: 30px;
}
.delete_btn {
  padding: 40px;
}
.delete_btn button {
  width: 100px;
  height: 30px;
  margin-left: 150px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(130, 152, 226);
}
.delete_msg {
  text-align: center;
}
/*Update_users*/
.Update_users {
  margin-left: 450px;
}
.Active_users {
  height: 400px;
}
.Active_users_containner {
  margin-top: 70px;
  margin-left: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 50px;
}
.Active_users_containner span {
  font-size: 20px;
}
.Active_users_containner button {
  height: 30px;
  width: 100px;
  margin-left: 30px;
  border: none;
  background-color: rgb(130, 152, 226);
  cursor: pointer;
}
.Active_users_containner h6 {
  color: green;
  text-align: center;
}
.Active_users_containner h5 {
  color: red;
  text-align: center;
}
.forgot_password {
  margin-left: 200px;
  height: 400px;
}
.error {
  text-align: center;
  height: 200px;
  margin-top: 200px;
}
/*Contact-us*/
.hero_containner_input textarea {
  width: 370px;
  border: none;
  margin-top: 10px;
  padding: 8px;
  height: 100px;
}
.hero_containner_input form textarea:focus {
  outline: none;
}
.contact_us {
  height: 490px;
}
/*fotter page*/
.fotter_containner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #f1f0f0;
}
.fotter_containner_first_des {
  display: flex;
  padding: 20px;
}
.fotter_containner_first_des_info h1 {
  font-size: 20px;
  margin-left: 41px;
  color: #fff;
}
.fotter_containner_first_des_info ul {
  list-style-type: none;
}
.fotter_containner_first_des_info ul li a {
  text-decoration: none;
  color: #fff;
}
.fotter_containner_first_des_info ul li a:hover {
  text-decoration: underline;
}
.fotter_containner_first_des_comunity h1 {
  font-size: 20px;
  margin-right: 100px;
  color: #fff;
}
.fotter_containner_first_des_comunity i {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.fotter_containner_first_des_comunity i:hover {
  color: green;
}
.fotter_containner_first_des_copy_right {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.fotter {
  background-color: #111;
}

/*media mobile screen */
@media only screen and (max-width: 360px) {
  .navber_containner {
    width: 360px;
    padding: 5px;
    border-bottom: 1px solid rgb(130, 152, 226);
  }
  .navber_containner_title {
    margin-left: 0px;
  }
  .navber_containner_title ul li a {
    font-size: 12px;
  }
  .navber_containner_hero ul li a {
    font-size: 8px;
    margin-right: 10px;
  }
  .hero_containner {
    display: block;
  }
  .hero_containner_des {
    width: 360px;
    padding: 10px;
  }
  .hero_containner_des h1 {
    font-size: 17px;
    padding: 10px;
  }
  .hero_containner_des span {
    font-size: 30px;
  }
  .hero_containner_input {
    width: 280px;
    padding: 10px;
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .hero_containner_input form input {
    width: 270px;
  }
  .hero_containner_input form select {
    width: 270px;
  }
  .btn a {
    margin-left: 110px;
  }
  .List_User_Contanner {
    display: block;
    margin-left: 0px;
  }
  .List_User_des {
    padding: 30px;
  }
  .List_User_des i {
    font-size: 10px;
  }
  .List_User_des h1 {
    font-size: 10px;
    margin-right: 20px;
  }
  .List_User_des span {
    font-size: 10px;
  }
  .Adspartners {
    margin-top: 10px;
  }
  .Adspartners h1 {
    font-size: 20px;
  }
  .Adspartners_containner {
    margin-left: 0px;
    width: 300px;
    margin-left: 20px;
  }
  .Adspartners_containner_des {
    width: 50px;
    height: 50px;
    padding: 18px;
  }
  .Adspartners_containner_des i {
    padding: 2px;
    font-size: 20px;
    margin-top: 10px;
  }
  .Demo_User_Containner {
    display: block;
    height: auto;
    margin-top: 0px;
  }
  .Demo_User_des {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-left: 40px;
  }
  .Demo_User_des i {
    font-size: 15px;
  }
  .Demo_User_des span {
    font-size: 13px;
  }
  .Demo_User_des p {
    font-size: 12px;
  }
  .fotter {
    width: 360px;
  }

  .fotter_containner_first_des_info h1 {
    font-size: 10px;
  }
  .fotter_containner_first_des_info ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
  }
  .fotter_containner_first_des_comunity h1 {
    font-size: 10px;
    margin-right: 10px;
  }
  .fotter_containner_first_des_comunity i {
    font-size: 10px;
    padding: 0px;
    margin-right: 20px;
  }
  /*login*/
  .login_containner {
    margin-left: 0px;
    height: 400px;
  }

  /*dashboard/earn-money*/
  .dashboard_containner_popup {
    padding: 0px;
    width: 120px;
  }

  .dashboard_containner_popup_des_Active ul {
    padding: 2px;
  }
  .dashboard_containner_popup_des_Active ul li i {
    font-size: 8px;
  }
  .dashboard_containner_popup_des_Active {
    padding: 0px;
  }
  .dashboard_containner_popup_des_Active ul li a {
    font-size: 8px;
    margin-right: 10px;
  }
  .dashboard_containner_popup_des ul {
    padding: 2px;
    margin-left: 6px;
  }
  .dashboard_containner_popup_des ul li a {
    font-size: 8px;
    padding: 7px;
  }
  .dashboard_containner_popup_des ul li i {
    padding: 0px;
    font-size: 8px;
  }

  .Earn_money h1 {
    font-size: 9px;
  }
  .Earn_money_containner {
    width: 210px;
    height: 30px;
    padding: 15px;
  }
  .Earn_money_containner_des {
    width: auto;
  }
  .Earn_money_containner span {
    font-size: 8px;
  }
  .Earn_money_containner h4 {
    font-size: 8px;
    margin-bottom: 50px;
    margin-left: 4px;
    padding: 1px;
  }
  .Earn_money_containner i {
    display: none;
    font-size: 7px;
    margin-top: 14px;
  }
  .Earn_money_containner p {
    font-size: 8px;
    margin-top: 12px;
    margin-left: 0px;
  }
  .Earn_money_containner button {
    width: 50px;
    height: 20px;
    padding: 4px;
    margin-left: 14px;
    margin-top: 0px;
    font-size: 8px;
  }
  .fotter_containner_first_des_copy_right {
    font-size: 8px;
  }

  /*collectpopup*/
  .Collect_pop_up {
    position: absolute;
    width: 100px;
    height: 80px;
    margin-left: 150px;
    margin-top: 60px;
  }
  .Collect_pop_up h1 {
    font-size: 8px;
    text-align: left;
  }
  .Collect_pop_up span {
    font-size: 8px;
    margin-left: 30px;
  }
  .Collect_pop_up button {
    width: 70px;
    height: 20px;
    font-size: 8px;
    margin-top: 10px;
  }
  /*dashboard*/
  .dashboard_containner {
    margin-left: 15px;
    height: 400px;
  }
  .dashboard_containner_des {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0px;
  }
  .dashboard_containner_des span {
    font-size: 8px;
  }
  .dashboard_containner_des h4 {
    font-size: 8px;
  }
  .dashboard_containner_des button {
    font-size: 8px;
    width: 80px;
    height: 20px;
    padding: 0px;
    border-radius: 50px;
  }
  .dashboard_containner_des_msg {
    margin-top: 150px;
    padding: 10px;
    margin-left: 7px;
    width: 200px;
    height: 30px;
  }
  .dashboard_containner_des_msg span {
    font-size: 8px;
  }
  /*profile & payouts */
  .Profile_handelar_des .hero_containner_input {
    width: 210px;
  }

  .dashboard_containner_popup {
    padding: 0px;
  }
  .Profile_handelar_des {
    margin-left: 10px;
    padding: 0px;
    height: 500px;
  }

  .Profile_handelar_des .hero_containner_input h1 {
    font-size: 12px;
  }
  .Profile_handelar_des .hero_containner_input h3 {
    font-size: 8px;
    margin-left: 85px;
  }
  .Profile_handelar_des .hero_containner_input form {
    font-size: 8px;
  }
  .Profile_handelar_des .hero_containner_input form input {
    font-size: 8px;
    width: 200px;
  }
  .Profile_handelar_des .hero_containner_input span {
    font-size: 8px;
    margin-left: 50px;
  }
  .Profile_handelar_des .hero_containner_input h5 {
    font-size: 8px;
  }
  .Profile_handelar_des .hero_containner_input h6 {
    font-size: 8px;
  }
  /*fotgot password*/
  .forgot_password {
    margin-left: 0px;
    height: 320px;
  }
  .forgot_password .Profile_handelar_des {
    margin-left: 35px;
  }
  /*contact-us*/
  .hero_containner_input form textarea {
    width: 190px;
    font-size: 8px;
  }
}
